@charset "UTF-8";
body, h1, h2, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.is_ios_safari #container {
  position: fixed;
  width: 100vw;
}

.is_ios_safari #container main#main {
  position: relative;
  -webkit-overflow-scrolling: touch !important;
  overflow: auto;
  width: 100vw;
}

.is_ios_safari #container #fixedDrawer {
  position: absolute;
  left: 0;
  bottom: 0;
}

.is_else_browser #fixedDrawer {
  position: fixed;
  left: 0;
  bottom: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}

header #header_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding-right: 3.2vw;
}

header #header_bar > div {
  width: 10.67vw;
  height: 10.67vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9.6vw;
}

header #header_bar .back {
  background-image: url(../img/arrow_back.png);
}

header #header_bar .menu {
  background-image: url(../img/ellipsis-h.svg);
}

header .menu_list {
  position: absolute;
  top: 9.5vw;
  right: 5vw;
  width: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 6px -1px #999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

header .menu_list.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#mainPhotoBox {
  height: 116vw;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  margin-bottom: 50px;
}

#wrap #photoGallery #mainPhoto {
  position: relative;
  overflow-x: hidden;
}

#wrap #photoGallery #mainPhoto .main-photo-swiper {
  width: 100%;
  height: 100%;
}

#wrap #photoGallery #mainPhoto .main-photo-swiper .item img {
  width: 100%;
}

#wrap #photoGallery #subphoto {
  padding: 3.2vw 0 3.2vw 3.2vw;
  overflow-x: hidden;
}

#wrap #photoGallery #subphoto .sub-photo-swiper {
  width: 100%;
  height: 100%;
}

#wrap #photoGallery #subphoto .sub-photo-swiper .item img {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

#wrap #photoGallery #subphoto .sub-photo-swiper .item.focus img {
  border: 1px solid #24b2ce;
}

#wrap #photoGallery #subphoto .sub-photo-swiper .item.priv img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#bbsStatusWrap {
  padding: 4.27vw;
}

#bbsStatusWrap .statusBody {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 4.8vw 6.4vw 3.2vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  box-sizing: border-box;
}

#bbsStatusWrap .statusBody .body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  font-size: 3.73vw;
  padding-right: 6.4vw;
}

#bbsStatusWrap .statusBody .body .label {
  padding-left: 10.13vw;
}

#bbsStatusWrap .statusBody .body .text {
  padding: 4.27vw 0 3.2vw;
  line-height: 1.2;
}

#bbsStatusWrap .statusBody .body .area {
  color: #666;
  font-size: 3.2vw;
}

#bbsStatusWrap .statusBody .distance {
  position: relative;
  -webkit-flex-basis: 19vw;
          flex-basis: 19vw;
  width: 19vw;
  height: 19vw;
  box-sizing: content-box;
}

#bbsStatusWrap .statusBody .distance .baseCircle {
  display: block;
  width: 19vw;
  height: 19vw;
  border: 4px solid #fbab3f;
  border-radius: 50%;
  box-sizing: border-box;
}

#bbsStatusWrap .statusBody .distance .baseCircle::before {
  content: "あと\a" attr(data-distance) "時間";
  white-space: pre;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.67vw;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

#bbsStatusWrap .statusBody .distance .distanceCircle {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 19vw;
  height: 19vw;
}

#bbsStatusWrap .statusBody .distance .distanceCircle circle {
  fill: transparent;
  stroke: transparent;
  stroke-width: 4;
  box-sizing: border-box;
  cx: 9.5vw;
  cy: 9.5vw;
  r: calc(9.5vw - 2px);
}

#bbsStatusWrap .statusBody.is_play {
  border-color: #fbab3f;
}

#bbsStatusWrap .statusBody.is_play .label {
  color: #fbab3f;
}

#fixedDrawer {
  /*
  position: fixed;
  left: 0;
  bottom: 0;
  */
  width: 100vw;
  /*
  &.is_ios {
    transform: translateY(-6vw);
    .messageBox {
      padding: 3.2vw 3.2vw 6.4vw;
    }
  }
  @keyframes riseup {
    0% {
      transform: translateY(28.1vw);
    }
    70% {
      transform: translateY(0vw);
    }
    100% {
      transform: translateY(3vw);
    }
  }
  */
}

#fixedDrawer.hidden {
  -webkit-transform: translateY(24.01vw);
          transform: translateY(24.01vw);
}

#fixedDrawer.riseup {
  -webkit-animation: riseup 0.25s 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: riseup 0.25s 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@-webkit-keyframes riseup {
  0% {
    -webkit-transform: translateY(24.01vw);
            transform: translateY(24.01vw);
  }
  99%, to {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
}

@keyframes riseup {
  0% {
    -webkit-transform: translateY(24.01vw);
            transform: translateY(24.01vw);
  }
  99%, to {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
}

#fixedDrawer .templateBox {
  position: absolute;
  left: 0;
  bottom: 14.94vw;
  z-index: 1;
  height: 66.67vw;
  width: 100vw;
  background-color: white;
  box-shadow: 0px -4px 6px -2px #999;
  border-radius: 10px 10px 0 0;
  -webkit-transform: translateY(0vw);
          transform: translateY(0vw);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#fixedDrawer .templateBox .templateBtn {
  display: block;
  width: 11.2vw;
  height: 9.07vw;
  background: url(../img/arrow_wide_down.png) no-repeat center/11.2vw 5.33vw;
  margin: 0 auto;
}

#fixedDrawer .templateBox.close {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  -webkit-transform: translateY(57.6vw);
          transform: translateY(57.6vw);
}

#fixedDrawer .templateBox.close .templateBtn {
  background: url(../img/arrow_wide_up.png) no-repeat center/11.2vw 5.33vw;
}

#fixedDrawer .templateBox .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 57.6vw;
}

#fixedDrawer .templateBox .wrap .templateBody {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

#fixedDrawer .templateBox .wrap .templateBody .swiper-container {
  width: 100%;
  height: 100%;
}

#fixedDrawer .templateBox .wrap .templateBody .templateItems {
  padding: 0 6.4vw;
  box-sizing: border-box;
}

#fixedDrawer .templateBox .wrap .templateBody .templateItems dt {
  color: #ff5f68;
  font-size: 3.2vw;
  font-weight: bold;
}

#fixedDrawer .templateBox .wrap .templateBody .templateItems dd {
  font-size: 2.67vw;
  line-height: 1.4;
  padding: 4.27vw 0;
}

#fixedDrawer .templateBox .wrap .insertBtn {
  padding: 4.27vw 0;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}

#fixedDrawer .templateBox .wrap .insertBtn > a {
  display: inline-block;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 48vw;
  height: 9.6vw;
  background-color: #00a3c1;
  border-radius: 4.8vw;
  font-size: 3.2vw;
  color: #fff;
  font-weight: bold;
}

#fixedDrawer .messageBox {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 3.2vw;
  border-top: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  /*
    &.is_riseup {
      padding: 3.2vw 3.2vw 6.2vw;
    }
    */
}

#fixedDrawer .messageBox .special .icon {
  display: block;
  width: 6.4vw;
  height: 6.4vw;
  background: url(../img/special_off.png) no-repeat center/cover;
}

#fixedDrawer .messageBox .input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  padding: 0 2.67vw;
}

#fixedDrawer .messageBox .input .textareaWrap {
  border-radius: 4.8vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: calc(8.54vw - 2px);
  padding: 0 4.8vw;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#fixedDrawer .messageBox .input .textareaWrap textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  vertical-align: bottom;
  resize: none;
  border: none;
  background-color: #ddd;
  border-radius: 0;
  /*
          &::placeholder {
            transform: translateY(-0.8vw);
          }
          */
}

#fixedDrawer .messageBox .input .textareaWrap textarea::-webkit-search-decoration {
  display: none;
}

#fixedDrawer .messageBox .input .textareaWrap textarea:focus {
  outline-offset: -2px;
}

#fixedDrawer .messageBox .send > input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  border: none;
  color: #a1a1a1;
  font-size: 3.73vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 8.54vw;
  background-color: #e6e6e6;
  border-radius: calc(8.54vw / 2);
}
