body, h1, h2, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.is_ios #container {
  position: fixed;
  width: 100vw;
}

.is_ios #container #flex_body {
  position: relative;
  -webkit-overflow-scrolling: touch !important;
  overflow: auto;
  width: 100vw;
}

.is_ios #container #flex_body header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3.2vw;
  background-color: rgba(170, 170, 170, 0.6);
  box-sizing: border-box;
}

.is_ios #container #flex_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  background-color: rgba(170, 170, 170, 0.6);
  padding: 3.2vw;
  box-sizing: border-box;
}

.is_else #flex_body {
  position: relative;
}

.is_else #flex_body header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3.2vw;
  background-color: rgba(170, 170, 170, 0.6);
  box-sizing: border-box;
}

.is_else #flex_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(170, 170, 170, 0.6);
  padding: 3.2vw;
  box-sizing: border-box;
}

/*
#container {
  display: flex;
  flex-direction: column;
  #flex_body {
    flex: 1;
    background-color: #ccc;
    overflow-y: auto;
      -webkit-overflow-scrolling: touch !important;
  }
  #flex_footer {
    padding: 3.2vw;
    background-color: #aaa;
  }
}
*/
.mainPhotoBox {
  height: 116vw;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  margin-bottom: 50px;
}
