@charset "UTF-8";
body, h1, h2, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#cardUI {
  position: relative;
  width: 85.3vw;
  height: 105.1vw;
  margin: 8vw auto 0;
}

#cardUI .card {
  position: absolute;
  width: 100%;
  height: 105.1vw;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#cardUI .card.next, #cardUI .card.current {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
}

#cardUI .card .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .1s;
  transition: .1s;
}

#cardUI .card .overlay::before {
  display: block;
}

#cardUI .card.type .overlay {
  background-color: #f00;
}

#cardUI .card.type .overlay::before {
  content: "いいかも！";
  color: #fff;
  font-size: 20px;
}

#cardUI .card.nottype .overlay {
  background-color: #333;
}

#cardUI .card.nottype .overlay::before {
  content: "いまいち…";
  color: #fff;
  font-size: 20px;
  text-align: right;
}

#cardUI .card.slide_type {
  -webkit-animation: type 0.3s ease-in-out forwards;
          animation: type 0.3s ease-in-out forwards;
}

@-webkit-keyframes type {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99.9%, to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes type {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99.9%, to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

#cardUI .card.slide_nottype {
  -webkit-animation: nottype 0.3s ease-in-out forwards;
          animation: nottype 0.3s ease-in-out forwards;
}

@-webkit-keyframes nottype {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99.9%, to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes nottype {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99.9%, to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

#cardUI .card.stop {
  pointer-events: none;
}

#cardUI .card .photo {
  height: 74.7vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  overflow: hidden;
}

#cardUI .card .status {
  height: 30.4vw;
}

#btnUI {
  width: 85.3vw;
  margin: 7.5vw auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

#btnUI .btn {
  display: block;
  width: 21.3vw;
  height: 21.3vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

#btnUI .btn.scale {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#btnUI .btn.skip {
  background-image: url(../img/type/skip.png);
}

#btnUI .btn.type {
  background-image: url(../img/type/type.png);
}
